*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*estilos del index*/
.background{      
    
    background-image: url("../assets/images/comida-peruana.jpg");
    background-size: auto;
    background-repeat: no-repeat;
}
.box-text{
    margin-top: 30%;
}
.black{
    color: rgb(15, 15, 15);
}
h1{ 
    font-size: 4em;
    font-weight: 700; 
    font-family: 'Lobster', cursive;   
    color:  rgba(133, 4, 4, 0.911);
}
h4{
    font-size: 2.5em;
    font-family: 'Lobster Two', cursive;
    font-weight: 600; 
}
.dinner img{
    width: 150px;
}
.map{
    border:3px solid rgb(255, 252, 252);
    width: 315px;
    padding: 4px;
}
.input-food{
    margin-left: 20%;
    padding: 2em 2em;
}

.input-food label{
    color: rgba(8, 8, 8, 0.911);
    font-size: 2em;
    font-family: 'Lobster Two', cursive; 
}
.list-food{
    list-style: none;
    width:174px;
    background-color: white;
    font-family: 'Lobster Two', cursive; 
}
.list-food li{
    cursor: pointer;
    padding:2px;
}

.list-food li:hover{
    background-color: rgba(255, 196, 0, 0.884);
    color: white;     
}
.container-restaurant{
    margin: 0 5px;
}
.container-restaurant img{
    height:100px;
    width: 167px;
    margin:2px 2px; 
}
.selected {
    position: relative;
}
.selected p{
    background-color: rgba(247, 183, 7, 0.842);
    border: orange;
    padding: 45px 50px;  
 /* position: absolute;
    left:2px;
    top:2px;
*/  color:rgb(250, 245, 245); 
    height:100px;
    width: 167px; 
}   
.modal-body img{
    width: 70%;

}
