*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*estilos del index*/
.background{      
    
    background-image: url("../assets/images/comida-peruana.jpg");
    background-size: auto;
    background-repeat: no-repeat;
}
.box-text{
    margin-top: 30%;
}
.black{
    color: rgb(15, 15, 15);
}
h1{ 
    font-size: 4em;
    font-weight: 700; 
    font-family: 'Lobster', cursive;   
    color:  rgba(133, 4, 4, 0.911);
}
h4{
    font-size: 2.5em;
    font-family: 'Lobster Two', cursive;
    font-weight: 600; 
}

.dinner img{
    width: 150px;
}
.map{
    width: 80%;
    border:2px solid rgb(255, 174, 0);   
}
.map img{
    

}