<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FoodMap</title>
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body class="background">
    <div class="container">
        <div class="row">
        <h4 class="text-center white">FoodMap</h4>
        <div class="map center-block">
            <img src="../assets/images/mapa2.png" alt="mapa"class="center-block">
        </div>
        <div>
            <form action="" class="white">
                <option value="">El rocoto</option>
                <option value="">Furai Sushi</option>
                <option value="">Tadeuz</option>
                <option value="">Bunny's</option>
                <option value="">chifa Feng You</option>
                <option value="">Barramar Surco</option>
                <option value="">Polleria Banny's</option>
                <option value="">Las cañitas</option>
                <option value="">Tuccu Pizza Buffet</option>
                <option value="">La chalupa</option>
                <option value="">Restaurant D Claudia</option>
                <option value="">Polleria el Parque</option>
                <option value="">Restaurante Meche</option>
            </form>
        </div>
        </div>
    </div>
    <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
    <script src="../js/district.js"></script>
</body>
</html>