<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FoodMap</title>
    <link href="https://fonts.googleapis.com/css?family=Lobster|Lobster+Two" rel="stylesheet">
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main.css">
</head>

<body class="background">
    <div class="container">
        <div class="row">
            <h4 class="text-center">FoodMap</h4>
            <div class="map center-block">
                <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d31203.858220914037!2d-76.98385302263507!3d-12.147534195656098!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1srestaurantes+surco!5e0!3m2!1ses!2spe!4v1514665787663"
                    width="300" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="input-food">
                <label for="food">Antojos cerca de ti </label>
                <input type="search" id="food" placeholder="elige una opcion">
                <ul id="list" class="list-food">
                    <li class="category-food" category="pollo"> pollo</li>
                    <li class="category-food" category="pizza">pizzas</li>
                    <li class="category-food" category="criolla">comida criolla</li>
                    <li class="category-food" category="chifa">chifa</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container container-restaurant">
        <div class="row">
            <div class="col-xs-5">
                <div class="food-restaurants" category="pollo">
                    <a data-toggle="modal" href="#belisario">
                        <img src="../assets/images/donbelisario1.jpg" alt="donbelisario">
                    </a>
                </div>
                <div class="food-restaurants" category="pollo">
                    <a data-toggle="modal" href="#norkys">
                        <img src="../assets/images/norkys.jpg" alt="norkys">
                    </a>
                </div>
                <div class="food-restaurants" category="pizza">
                    <a data-toggle="modal" href="#pizzahut">
                        <img src="../assets/images/pizzahut.jpg" alt="pizzahut">
                    </a>
                </div>
                <div class="food-restaurants" category="pollo">
                    <a data-toggle="modal" href="#kfc">
                        <img src="../assets/images/kfc.jpg" alt="kfc">
                    </a>
                </div>
            </div>
            <div class="col-xs-5">
                <div class="food-restaurants" category="criolla">
                    <a href="">
                        <img src="../assets/images/rocoto.jpg" alt="el rocoto">
                    </a>
                </div>
                <div class="food-restaurants" category="chifa">
                    <a href="">
                        <img src="../assets/images/choytac.jpg" alt="choytac">
                    </a>
                </div>
                <div class="food-restaurants" category="chifa">
                    <a href="">
                        <img src="../assets/images/sanjoylao.png" alt="sanjoylao">
                    </a>
                </div>
                <div class="food-restaurants" category="criolla">
                    <a href="">
                        <img src="../assets/images/elmeson.jpg" alt="elmeson">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--Modal Don belisario-->
    <div class="modal fade" tabindex="-1" role="dialog" id="belisario">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Don Belisario</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-8">
                            <img src="../assets/images/menubelisario.jpg" alt="platos">
                        </div>
                        <div class="col-xs-4">Horario de atencion delivery:12:00PM a 10:30PM</div>
                        <div class="col-xs-4">Horario de atencion de locales:12:00PM a 11:00PM</div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning">Pedir Ahora</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
    </div>
    <!--Modal NOrkis-->
    <div class="modal fade" tabindex="-1" role="dialog" id="norkys">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Norkys</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-8">
                            <img src="../assets/images/menunorkys.jpg" alt="platos">
                        </div>
                        <div class="col-xs-4">delivery:274 8311</div>
                        <div class="col-xs-4">Bolichera av.proceres Mz2 lote16</div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning">Pedir Ahora</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
    </div>
    <!--Modal pizzahut-->
    <div class="modal fade" tabindex="-1" role="dialog" id="pizzahut">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Pizza Hut</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-7">
                            <img src="../assets/images/pizzahut.jpg" alt="pizzas">
                        </div>
                        <div class="col-xs-4">delivery:274 8311</div>
                        <div class="col-xs-4">Bolichera av.proceres Mz2 lote16</div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning">Pedir Ahora</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
    </div>

    <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
    <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="../js/food.js"></script>
</body>

</html>